[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/funfactory"]
	path = vendor-local/funfactory
	url = https://github.com/mozilla/funfactory.git
[submodule "vendor-local/django-multidb-router"]
	path = vendor-local/django-multidb-router
	url = https://github.com/jbalogh/django-multidb-router
[submodule "vendor-local/django-mozilla-product-details"]
	path = vendor-local/django-mozilla-product-details
	url = https://github.com/fwenzel/django-mozilla-product-details.git
[submodule "vendor-local/elasticutils"]
	path = vendor-local/elasticutils
	url = http://github.com/mozilla/elasticutils
[submodule "vendor-local/pyes"]
	path = vendor-local/pyes
	url = https://github.com/aparo/pyes
[submodule "vendor-local/requests"]
	path = vendor-local/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "vendor-local/uuslug"]
	path = vendor-local/uuslug
	url = git://github.com/un33k/django-uuslug.git
[submodule "vendor-local/django"]
	path = vendor-local/django
	url = https://github.com/django/django.git
[submodule "vendor-local/django-ajax-selects"]
	path = vendor-local/django-ajax-selects
	url = https://github.com/crucialfelix/django-ajax-selects.git
[submodule "vendor-local/django-browserid"]
	path = vendor-local/django-browserid
	url = git://github.com/mozilla/django-browserid.git
[submodule "vendor-local/debug_toolbar"]
	path = vendor-local/debug_toolbar
	url = git://github.com/django-debug-toolbar/django-debug-toolbar.git
[submodule "vendor-local/django_compressor"]
	path = vendor-local/django_compressor
	url = https://github.com/jezdez/django_compressor.git
[submodule "vendor-local/django-extensions"]
	path = vendor-local/django-extensions
	url = https://github.com/django-extensions/django-extensions.git
